<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>.</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" />

    <script th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
</head>
<body>

<div class="container">
<table class="table">
<thead>
    <tr>
        <td><b>Numer ID :</b></td>
        <td><b>Nazwa lecki</b></td>
        <td><b>Numer sali</b></td>
        <td></td>
    </tr>
</thead>
<tbody>
    <tr th:each="classes : ${classes}">
        <td th:text="${classes.id_classes}"></td>
        <td th:text="${classes.nameOfTheClass}"></td>
        <td th:text="${classes.classroom}"></td>
        <td><a th:href="@{'/classes/delete/' +classes.id_classes}">USUN</a> </td>
    </tr>
</tbody>
</table>
<div class="row">
<a th:href="@{/classescreate}">Dodaj nową lekcje</a>
</div>
</div>




</body>
</html>