<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>.</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" />

    <script th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
</head>
<body>
<div class="container">
<form class="form-horizontal" th:object="${classes}" th:action="@{/classes}" th:method="post">

<div class="form-group">
<label class="control-label">Nazwa zajęć</label>
<input class="form-control" type="text" th:field="*{nameOfTheClass}">
</div>

<div class="form-group">
<label class="control-label">Numer sali</label>
<input class="form-control" type="number" th:field="*{classroom}">


   <div class="row">
              <button type="submit" class="btn btn-default">DODAJ</button>
          </div>
</div>



</form>


</div>
</body>
</html>
