<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>.</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" />

    <script th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
</head>
<body>

<div class="container">


<table class="table">
<thead>
<tr>
<td>Id_Index</td>
<td>Numer Index</td>
</tr>
</thead>
<tbody>

<tr  th:each="index : ${allindex}">
        <td th:text="${index.id_index}"></td>
        <td th:text="${index.indexNumber}"></td>
    </tr>
</tbody>
</table>

    <div class="row">
         <a href="/indexcreate">Dodaj uczelnie</a>
      </div>





<div class="row">
<a th:href="@{/firstpage}">Wróc do strony głównej</a>
</div>

  <div class="row">
        <form action="#" th:action="@{/logout}" method="post">
            <input type="submit" value="Logout"/>
        </form>
     </div>
</div>



</body>
</html>