<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>.</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" />

    <script th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
</head>
<body>
 <div class="container">
    <table class="table">
        <thead>
    <tr>
        <td><b>Id_student :</b></td>
        <td><b>imie :</b></td>
        <td><b>nazwisko :</b></td>
        <td><b>wiek :</b></td>
        <td><b>Ustaw indeks</b></td>
        <td><b>Ustaw uczelnie</b></td>
        <td></td>
        <td></td>
    </tr>
        </thead>
        <tbody>
    <tr  th:each="student : ${allStudent}">
        <td th:text="${student.id}"></td>
        <td th:text="${student.name}"></td>
        <td th:text="${student.lastName}"></td>
        <td th:text="${student.age}"></td>

        <td>
            <span
             th:if="${student.index==null}">Brak przypisanego Indexu
            <a th:href="${'/assignindex?id='+student.id}">Przypisz zadanie</a>
            </span>
            <span th:if="${student.index!=null}" th:text="${student.index.id}"/>
        </td>

        <td>
            <span
             th:if="${student.university==null}">Brak przypisanego Uniwersytetu
             <a th:href="${'/assignuniversity?id='+student.id}">Przypisz zadanie</a>
            </span>
            <span th:if="${student.university!=null}" th:text="${student.university.id}"/>

        </td>


        <td><a th:href="${'/students/showMore/'+student.id}">Pokaz wiecej</a> </td>
        <td><a th:href="${'/students/delete/'+student.id}">Usun</a></td>
    </tr>

        </tbody>
    </table>
    <div class="row">
         <a href="/studentcreate">Dodaj studenta</a>
     </div>


<div class="row">
<a th:href="@{/firstpage}">Wróc do strony głównej</a>
</div>


     <div class="row">
        <form action="#" th:action="@{/logout}" method="post">
            <input type="submit" value="Logout"/>
        </form>
     </div>


</div>

</body>
</html>