<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>.</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" />

    <script th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
</head>
<body>
 <div class="container">
    <table class="table">
        <thead>
    <tr>
        <td>Id_student :</td>
        <td>imie :</td>
        <td>nazwisko :</td>
        <td>wiek :</td>
        <td>index :</td>
    </tr>
        </thead>
        <tbody>
    <tr  th:each="student : ${allStudent}">
        <td th:text="${student.id_student}"></td>
        <td th:text="${student.name}"></td>
        <td th:text="${student.lastName}"></td>
        <td th:text="${student.age}"></td>
        <td th:text="${student.index}"></td>
    </tr>

        </tbody>



    </table>
    <div class="row">
         <a href="/studentcreate">Dodaj studenta</a>
     </div>

     <div class="row">
        <form action="#" th:action="@{/logout}" method="post">
            <input type="submit" value="Logout"/>
        </form>
     </div>


</div>

</body>
</html>