<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>.</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" />

    <script th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
</head>
<body>
 <div class="container">
    <table class="table">
        <thead>
        <tr>
            <td><b>Id_Uniwersytetu :</b></td>
            <td><b>Nazwa Uniwersytetu :</b></td>
            <td></td>
        </tr>
        </thead>
        <tbody>
            <tr th:each="university : ${alluniversity}">
                <td th:text="${university.id}"></td>
                <td th:text="${university.theNameOfTheUniversity}"></td>
                <td><a th:href="${'/university/delete/' +university.id}">USUN</a></td>
            </tr>
        </tbody>

    </table>
      <div class="row">
         <a href="/universitycreate">Dodaj uczelnie</a>
      </div>


<div class="row">
<a th:href="@{/firstpage}">Wróc do strony głównej</a>
</div>


  <div class="row">
        <form action="#" th:action="@{/logout}" method="post">
            <input type="submit" value="Logout"/>
        </form>
     </div>
    </div>
    </body>
    </html>
